# Desafio semana 3 - Aceleradev Data Science Codenation

## Conhecendo sua base de consumidores: qual estado possui a melhor pontuação de crédito?

## Objetivo 

Queremos conhecer melhor nossos clientes por estado. Para isso, iniciamos uma análise na pontuação de crédito. Para realizar a verificação inicial, precisamos de alguns valores. Os valores são a média, a mediana, a moda e o desvio padrão da pontuação de crédito.

## Detalhes 

> A resposta deve conter os valores da média, mediana, moda e desvio padrão da pontuação de crédito para cada estado do dataset. 

> O arquivo para submissão deve estar em formato json, conforme o arquivo exemplo “submission.json”.

> OBSERVAÇÃO: É recomendado utilizar Python e pandas para esse desafio, mas também é possível utilizar outras ferramentas e linguagens de programação.

> Descrição dos dados: 

       • ‘id’: Identificador do cliente;
       • ‘sobrenome’: Sobrenome do cliente;
       • ‘pontuacao_credito’: Pontuação de crédito do cliente (quanto maior, melhor o cliente geralmente);
       • ‘estado_residencia’: Estado de residência do cliente;
       • ‘genero’: Gênero do cliente;
       • ‘nivel_estabilidade’: Nível de estabilidade do cliente;
       • ‘saldo_conta’: Saldo disponível na conta do cliente;
       • ‘numero_produtos’: Número de produtos que o cliente consome;
       • ‘possui_cartao_de_credito’: Possui um cartão de crédito cadastrado;
       • ‘membro_ativo’: Membro acessa e consome frequentemente

> Obs: Os dados são fictícios, mas tentam representar a realidade de uma base de clientes de um produto SaaS.

In [4]:
#Instalando Pandas

pip install pandas

Collecting pandas
  Downloading https://files.pythonhosted.org/packages/5d/24/91ad2da4a1da2747595d2f47f858a131036f598fb495ec6346d08d8b8df6/pandas-1.0.5-cp37-cp37m-macosx_10_9_x86_64.whl (10.0MB)
     |████████████████████████████████| 10.0MB 1.9MB/s eta 0:00:01
Collecting numpy>=1.13.3
  Downloading https://files.pythonhosted.org/packages/5c/f5/0e5e57fa7683cf0e5036320f4676cd7e3dbd9ab8c17ada541c2bb5ebed5e/numpy-1.19.0-cp37-cp37m-macosx_10_9_x86_64.whl (15.3MB)
     |████████████████████████████████| 15.3MB 1.7MB/s eta 0:00:01
Requirement already satisfied: python-dateutil>=2.6.1 in /usr/local/lib/python3.7/site-packages (from pandas) (2.8.1)
Collecting pytz>=2017.2
  Using cached https://files.pythonhosted.org/packages/4f/a4/879454d49688e2fad93e59d7d4efda580b783c745fd2ec2a3adf87b0808d/pytz-2020.1-py2.py3-none-any.whl
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/site-packages (from python-dateutil>=2.6.1->pandas) (1.13.0)
Installing collected packages: numpy, pytz, pandas
Successfully installed numpy-1.19.0 pandas-1.0.5 pytz-2020.1
Note: you may need to restart the kernel to use updated packages.

In [5]:
# Importando Pandas

import pandas as pd

In [10]:
# Importando arquivo

dados = pd.read_csv('desafio1.csv')

In [12]:
dados.head()

,RowNumber,id,sobrenome,pontuacao_credito,estado_residencia,genero,idade,nivel_estabilidade,saldo_conta,numero_produtos,possui_cartao_de_credito,membro_ativo
0,1,e7f44fcbd380d4cef7e6c232cc7e37895c3fd197,6d6e0aa1b9b413e442e2fb68df14b4fc3f91de50,619,SC,F,42,2,0.00,1,1,1
1,2,28dcb083ad90512da16b9430085c2cddb8ca5e12,48e1ad846796fa314f1b4a6702b83343eb5482c5,608,RS,F,41,1,83807.86,1,0,1
2,3,774bc378f787438c9c7594e536787d07a097a54b,f2b29d5d934de615812b697132e767dea0f1e9e2,502,SC,F,42,8,159660.80,3,1,0
3,4,043a71326f7096de155e7f0c559dc62b5e4b7239,85d5c9da7cddd8109ad32a6c348fe2bb10bf99f2,699,SC,F,39,1,0.00,2,0,0
4,5,37b3bb8ca243955fb3605ec7e1c2a4607cdb3b22,ddc89c837a6933639de75f28171057060bd322df,850,RS,F,43,2,125510.82,1,1,1

In [13]:
# Verificando Estados

dados['estado_residencia'].unique()

array(['SC', 'RS', 'PR'], dtype=object)

In [15]:
# Verificando valores NaN

dados.isna().sum()

RowNumber                   0
id                          0
sobrenome                   0
pontuacao_credito           0
estado_residencia           0
genero                      0
idade                       0
nivel_estabilidade          0
saldo_conta                 0
numero_produtos             0
possui_cartao_de_credito    0
membro_ativo                0
dtype: int64

In [37]:
# Pegando dados da coluna pontuacao_credito de cada estado

SC = dados[dados['estado_residencia'] == 'SC']['pontuacao_credito']
RS = dados[dados['estado_residencia'] == 'RS']['pontuacao_credito']
PR = dados[dados['estado_residencia'] == 'PR']['pontuacao_credito']

array([650, 650, 653])

In [166]:
# Criando DataFrame com os dados 

df = pd.DataFrame({"SC": {"moda": SC.mode().values[0], "mediana": SC.median(), "media": SC.mean(), "desvio_padrao": SC.std()}, 
                      "RS": {"moda": RS.mode().values[0], "mediana": RS.median(), "media": RS.mean(), "desvio_padrao": RS.std()}, 
                      "PR": {"moda": PR.mode().values[0], "mediana": PR.median(), "media": PR.mean(), "desvio_padrao": PR.std()}})

df

                       SC          RS          PR
moda           850.000000  850.000000  850.000000
mediana        653.000000  650.000000  650.000000
media          649.537653  651.105143  648.961294
desvio_padrao   97.233493   95.136598   98.607186

In [165]:
# Exportando arquivo JSON

df.to_json('submission.json')